<html> 

<head>
<meta charset="utf-8">
<title>iframe without src attribute</title>

<style>

     .myFrame { 
      -moz-transform-origin: top left;
     -webkit-transform-origin: top left; 
     -o-transform-origin: top left; 
     -ms-transform-origin: top left; 
     transform-origin: top left; 
         
     } 

    .bookName{
        width: 50%;
        max-width: 600px;
        height: 20px;
        display: block;
        margin: 3vh auto;
    }
    .fr {
    
      position: relative;
      width: 1200px;
      
      height: 700px;
      display: block;
      top: -100px;
      left: 100px;
      border-radius: 8px;
      -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
      -webkit-transform:scale(0.6);
      -moz-transform-scale(0.5);   
      
}
    .butonc {
        width: 75%;
        max-width: 100px;
        height: 50px;
        display: block;
        margin: 0.2vh auto;
    }
@media (max-width: 1000px) {
  .butonc, .fr {
    width: 90%;
    height: 10%;
  }
}
@media (max-width: 900px) {
  .butonc, .fr{
     width: 80%;
    height: 100%;
  }
}
@media (max-width: 750px) {
   .fr{
     width: 70%;
     height: 100%;
  }
  .butonc{
    background-position: 70% 0%;
    background-size: cover;
    height: 50px;
      
  }
  }
@media (max-width: 400px) {
   .fr{
    background-position: 100% 70%;
    background-size: cover;
    height: 300px;
  }
  .butonc{
    background-position: 70% 0%;
    background-size: cover;
    height: 50px;
      
  }
  }


}
</style>
<script language="Javascript" type="text/javascript">
    function tryIt(){

  
        var content = document.getElementById("iframecontent").innerHTML;
        var iframe = document.getElementById("myiframeid");

        var frameDoc = iframe.document;
        if (iframe.contentWindow)
            frameDoc = iframe.contentWindow.document;
        
        frameDoc.open();
        frameDoc.writeln(content);
        frameDoc.close();
        
    }
    $(document).ready(function(){
    //code here
    tryIt();
    });
  
</script>
</head>    
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body  >
<div class="nav-side-menu">
    <div class="brand"><%= @teacher.kullaniciAdi %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "Sign out",  action:"destroysession" %></div>
    
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/index/teacher/<%= @teacher.id %>">
                  <i class="fa fa-folder"></i> Index &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </a>
                </li>
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/messages/"><i class="fa fa-envelope "></i> Messages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                <li  data-toggle="collapse" data-target="#products" class="collapsed">
                  &nbsp;&nbsp;<i class="fa fa-child"></i> Classes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                </li>
                <ul class="sub-menu collapse" id="products">
                    
                    <li><a href="/teacher/<%= @teacher.id %>/classes/">Show Classes & Students&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a href="/teacher/<%= @teacher.id %>/classesbooks/">Assign Classes Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>

                </ul>

               <li>
                  <a href="/teacher/<%= @teacher.id %>/books/">
                  <i class="fa fa-book"></i> System Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </a>
                </li>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/multiplechoicesbooks/"><i class="fa fa-check-square"></i> Create Exams&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
                </li>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/wordsonbooks/"><i class="fa fa-language "></i> Add Words On Books &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
                </li>
                <li data-toggle="collapse" data-target="#notes" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/teachervideonotes/"><i class="fa fa-edit"></i> Create Notes On Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/istatisticclasses"><i class="fa fa-bar-chart"></i> Student Statistics&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/index/teacher/<%= @teacher.id %>/aboutclique"><i class="fa fa-rocket "></i> ABOUT CLIQUE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                 
            </ul>
     </div>
</div>
    <div id="iframecontent" style="display: none;">
    <html><body>
    <%= @book.kitapHtmlIcerik.html_safe %>
    </body></html>
</div>
        

        <h4 class="bookName">Book Name:<%= @book.kitapAdi %> , Author:<%= @book.kitapYazari %></h1>
           
        <hr style="border-width: 2px;">
        <iframe src="about:blank" name="myiframe"
         id="myiframeid"  class="fr"> 
        
         </iframe>
         <%= link_to 'Back', 'javascript:history.go(-1)', class: "btn btn-primary btn-lg btn-block butonc" %>
         
           

        
 </body>     

   
            
</html>