<!DOCTYPE html>
<html lang="en">
    
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script language="Javascript" type="text/javascript">
    function tryIt(){

  
        var content = document.getElementById("iframecontent").innerHTML;
        var iframe = document.getElementById("myiframeid");

        var frameDoc = iframe.document;
        if (iframe.contentWindow)
            frameDoc = iframe.contentWindow.document;
        
        frameDoc.open();
        frameDoc.writeln(content);
        frameDoc.close();
        
    }
    $(document).ready(function(){
    //code here
    tryIt();
    });
  
</script>
</head>
<style>
  .frUstTab {
      position: contain;
      background-repeat: no-repeat;
      width: 75%;
      max-width: 650px;
      
      display: block;
      margin: 1vh auto;
      border-radius: 8px;
       font-size: 15px;
  }
  .divA{
      position: relative;
      background-repeat: no-repeat;
      width: 75%;
      max-width: 650px;
      
      display: block;
      margin: 1vh auto;
      border-radius: 8px;
       font-size: 15px;
       top: -150px;
  }
    hr {
    
     background: #000; 
     width: 100%; 
     height: 2px;
}
     .myFrame { 
      -moz-transform-origin: top left;
     -webkit-transform-origin: top left; 
     -o-transform-origin: top left; 
     -ms-transform-origin: top left; 
     transform-origin: top left; 
         
     } 

    .bookName{
        width: 50%;
        max-width: 600px;
        height: 20px;
        display: block;
        margin: 3vh auto;
    }
    .fr {
    
      position: relative;
      width: 1000px;
      
      height: 500px;
      display: block;
      top: -100px;
      left: 50px;
      border-radius: 8px;
      -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
      -webkit-transform:scale(0.5);
      -moz-transform-scale(0.5);   
      
}
    .butonc {
        width: 50%;
        max-width: 100px;
        height: 50px;
        display: block;
        margin: 0.2vh auto;
    }
@media (max-width: 1000px) {
  .butonc, .fr {
    width: 90%;
    height: 10%;
  }
}
@media (max-width: 900px) {
  .butonc, .fr{
     width: 80%;
    height: 100%;
  }
}
@media (max-width: 750px) {
   .fr{
     width: 70%;
     height: 100%;
  }
  .butonc{
    background-position: 70% 0%;
    background-size: cover;
    height: 50px;
      
  }
  }
@media (max-width: 400px) {
   .fr{
    background-position: 100% 70%;
    background-size: cover;
    height: 300px;
  }
  .butonc{
    background-position: 70% 0%;
    background-size: cover;
    height: 50px;
      
  }
  }


}
</style>
</style>
<body>
<div class="nav-side-menu">
    <div class="brand"><%= @teacher.kullaniciAdi %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "Sign out",  action:"destroysession" %></div>
    
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/index/teacher/<%= @teacher.id %>">
                  <i class="fa fa-folder"></i> Index &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </a>
                </li>
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/messages/"><i class="fa fa-envelope "></i> Messages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                <li  data-toggle="collapse" data-target="#products" class="collapsed">
                  &nbsp;&nbsp;<i class="fa fa-child"></i> Classes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                </li>
                <ul class="sub-menu collapse" id="products">
                    
                    <li><a href="/teacher/<%= @teacher.id %>/classes/">Show Classes & Students&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a href="/teacher/<%= @teacher.id %>/classesbooks/">Assign Classes Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>

                </ul>

               <li>
                  <a href="/teacher/<%= @teacher.id %>/books/">
                  <i class="fa fa-book"></i> System Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </a>
                </li>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/multiplechoicesbooks/"><i class="fa fa-check-square"></i> Create Exams&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
                </li>
               
                <li data-toggle="collapse" data-target="#notes" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/teachervideonotes/"><i class="fa fa-edit"></i> Create Notes On Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/istatisticclasses"><i class="fa fa-bar-chart"></i> Student Statistics&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/index/teacher/<%= @teacher.id %>/aboutclique"><i class="fa fa-rocket "></i> ABOUT CLIQUE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                 
            </ul>
     </div>
</div>
<div class="frUstTab">
  <ul class="nav nav-tabs">
    <li><a href="/teacher/<%= @teacher.id %>/teachervideonotes/">Video Notes</a></li>
    <li><a href="/teacher/<%= @teacher.id %>/teacheraudionotes/">Audio Notes</a></li>
    <li class="active"><a href="/teacher/<%= @teacher.id %>/teachertextnotes/">Text Notes</a></li>
  </ul>
  
 
</div>
<div id="iframecontent" style="display: none;">
    <html><body>
    <%= @mbook.kitapHtmlIcerik.html_safe %>
    </body></html>
</div>

<div>
        
        <iframe src="about:blank" name="myiframe"
         id="myiframeid"  class="fr"> 
        
         </iframe>
         
        
</div>

<div class="divA"> 
    <hr />
    <h4> Create New Text Note</h4>
    <hr />
   <div class="container">
    <div class="row">
		<div class="span12">
	 <%= form_tag(:controller => "api", :action => "uploadText") do%>   
			<i class="fa fa-question-circle"></i><%= label_tag(:yaziliNotIcerik, "Note:") %>
			<div class="input-append"><%= text_area_tag :yaziliNotIcerik, :"",size:"50x5", placeholder: "Please enter the note.."%></div>
            <br>
		            
            <i class="fa fa-check-circle "></i><%= label_tag(:sayfaNo, "Page Number on Book:") %>
			<div ><%= text_area_tag :sayfaNo ,:"",size:"3x1", placeholder: "Page No" %></div>
			<br>
            <div class="form-action">
                 <%= submit_tag " Add ", class:"btn btn-default" %>
                <%= link_to ' Cancel ', 'javascript:history.go(-1)', class: "btn btn-default" %>
        </div>
        <% end %>
		</div>
	</div>
</div>
</div>

</body>
</html>
