<html> 
    
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
    <div class="brand"><%= @teacher.kullaniciAdi %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "Sign out",  action:"destroysession" %></div>
    
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/index/teacher/<%= @teacher.id %>">
                  <i class="fa fa-folder"></i> Index &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </a>
                </li>
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/messages/"><i class="fa fa-envelope "></i> Messages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                <li  data-toggle="collapse" data-target="#products" class="collapsed">
                  &nbsp;&nbsp;<i class="fa fa-child"></i> Classes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                </li>
                <ul class="sub-menu collapse" id="products">
                    
                    <li><a href="/teacher/<%= @teacher.id %>/classes/">Show Classes & Students&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a href="/teacher/<%= @teacher.id %>/classesbooks/">Assign Classes Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>

                </ul>

               <li>
                  <a href="/teacher/<%= @teacher.id %>/books/">
                  <i class="fa fa-book"></i> System Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </a>
                </li>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/multiplechoicesbooks/"><i class="fa fa-check-square"></i> Create Exams&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
                </li>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/wordsonbooks/"><i class="fa fa-language "></i> Add Words On Books &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
                </li>
                <li data-toggle="collapse" data-target="#notes" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/teachervideonotes/"><i class="fa fa-edit"></i> Create Notes On Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/istatisticclasses"><i class="fa fa-bar-chart"></i> Student Statistics&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/index/teacher/<%= @teacher.id %>/aboutclique"><i class="fa fa-rocket "></i> ABOUT CLIQUE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                 
            </ul>
     </div>
</div>
                
</html>