<html> 
<head>
<meta charset="utf-8">


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'><link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

<style>

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
.divA{
        width: 50%;
        max-width: 600px;
        height: 20px;
        display: block;
        margin: 3vh auto;
        line-height: 1.5;
    }

body {
  background-color: #FBF8EF;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 11px;
  color: #cfd6e1;
  line-height: 1.5;
  font-weight: 40;
  max-width: 100%;

}


.movie-card {
    

  width: 75%;
  max-width:600px;
  height:80px;
  display:block;
  position:relative;
  
  margin: 1vh auto;
  border-radius:8px;
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.movie-card1 {
    

  width: 75%;
  max-width:600px;
  height:250px;
  display:block;
  position:relative;
  
  margin: 2vh auto;
  border-radius:8px;
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.color-overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(20%, #000000), to(#151515));
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #00000070%, ##151515 90%);
 
}

h1, h2, h3 {
  font-family: "Montserrat", helvetica, arial, sans-serif;
 
  letter-spacing: 4px;
  line-height: 1;
  
  color:black;
  
}


.movie-content {
  width: 80%;
  display: block;
  position: relative;
  float: right;
  padding-right: 1em;
}
.movie-content .movie-title {
  color: #FFEFD5;
  padding-top: .5em;
  margin-bottom: .2em;
  opacity: .75;
  font-weight: bold;
}
.movie-content .movie-info {
  padding-top: 2em;
  padding-bottom: .5em;
  text-transform: uppercase;
  letter-spacing: .1px;
  font-size: 1em;
  color: #2a9fff;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  opacity: .8;
  
}

.movie-content .movie-header {
  margin-bottom: 4em;
}
.movie-content .movie-desc {
  margin-top: .2em;
  font-weight: 300;
  opacity: .99;
  margin-bottom: .5em;
}

.btn {
  padding: .6em 1em;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #FFEFD5;
  color: #FFEFD5;
}

.btn::before {
  font-family: 'Material Icons';
  content: '\e067';
  vertical-align: left;
  font-size: 1.0em;
  padding-right: .5em;
  color: #FFEFD5;
}

.btn-outline:hover {
  border-color: #2a9fff;
  color: #2a9fff;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
          box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
}

.movie-share {
  padding: 1em;
  display: inline-block;
  width: 15%;
}

.movie-share__icon i {
  font-size: 1.2em;
  margin-left: .5em;
  color: #ffffff;
  mix-blend-mode: lighten;
  opacity: .4;
}

.movie-share__icon i:hover {
  opacity: 1;
  mix-blend-mode: lighten;
}

@media (max-width: 800px) {
  .divA{
    background-position: 50% 0%;
    background-size: cover;
     height: 70px;
  }
  .movie-content {
    width: 50%;
    max-width: 95%;
  }
}
@media (max-width: 600px) {
  .divA{
    background-position: 50% 0%;
    background-size: cover;
     height: 70px;
  }
  .movie-card {
    width: 95%;
    max-width: 95%;
  }
 .movie-card1 {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .divA{
    background-position: 50% 0%;
    background-size: cover;
    height: 200px;
  }
  .movie-card, .movie-card:nth-child(2), .movie-card:nth-child(3),  {
    background-position: 50% 0%;
    background-size: cover;
    height: 300px;
  }
   .movie-card1, .movie-card1:nth-child(2), .movie-card1:nth-child(3) {
    background-position: 50% 0%;
    background-size: cover;
    height: 300px;
    
   }
  .color-overlay {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 159, 255, 0.2)), color-stop(60%, #212120), to(#212120));
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
  }

  .movie-content {
    margin-top: 4em;
    width: 90%;
    
  }
  .movie-content .movie-info{
    color:white;
  }

  .movie-title {
    display: block;
    width: 100%;
  }
}

</style>


</head>    

<body>
  <div>
<div class="nav-side-menu">
    <div class="brand"><%= @teacher.kullaniciAdi %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "Sign out",  action:"destroysession" %></div>
    
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/index/teacher/<%= @teacher.id %>">
                  <i class="fa fa-folder"></i> Index &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </a>
                </li>
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/messages/"><i class="fa fa-envelope "></i> Messages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                <li  data-toggle="collapse" data-target="#products" class="collapsed">
                  &nbsp;&nbsp;<i class="fa fa-child"></i> Classes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                </li>
                <ul class="sub-menu collapse" id="products">
                    
                    <li><a href="/teacher/<%= @teacher.id %>/classes/">Show Classes & Students&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a href="/teacher/<%= @teacher.id %>/classesbooks/">Assign Classes Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>

                </ul>

               <li>
                  <a href="/teacher/<%= @teacher.id %>/books/">
                  <i class="fa fa-book"></i> System Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </a>
                </li>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/multiplechoicesbooks/"><i class="fa fa-check-square"></i> Create Exams&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
                </li>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/wordsonbooks/"><i class="fa fa-language "></i> Add Words On Books &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
                </li>
                <li data-toggle="collapse" data-target="#notes" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/teachervideonotes/"><i class="fa fa-edit"></i> Create Notes On Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/istatisticclasses"><i class="fa fa-bar-chart"></i> Student Statistics&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/index/teacher/<%= @teacher.id %>/aboutclique"><i class="fa fa-rocket "></i> ABOUT CLIQUE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                 
            </ul>
     </div>
</div>
</div>
<div class="divA" >
  <h1 class="asd"> <b>Student:</b> <%= @student.kullaniciAdi %></h1>
  
</div>
<hr>
<div class="divA" >
 <h1 class="asd"> <b>Book: </b><%= @book.kitapAdi %></h1>
</div>
<hr>


<div class="divA ">
  <h1> <b>1.</b> Book Page Number = <b><%= @bookPageNumber.to_i %></b> </h1>
  
</div>
<br>
<div class="divA ">
  <h1> Read page Number= <b><%= @bookStudentPageNumber.to_i %> </b></h1>
  
</div>
<br>
<div class="divA ">
 <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:<%= @bookPercentage %>%">
    <%= @bookPercentage %>% 
  </div>
</div>
</div>
<hr>
<div class="divA ">
  <h1> <b>2.</b> Student add " <b><%= @studentChosenWordsCount %> </b>" words to list</h1>
  
</div>
<br>
<div class="divA ">
  <h1> <b>Words:</b></h1>

</div>

 <% @studentChosenWords.each do |word| %>

  <div id="movie-card-list">
  	<!-- Card 1: Blade Runner -->
  	<div class="movie-card">
  		<div class="color-overlay">

  			<div class="movie-content">
  				<div class="movie-header">
  					<h1 class="movie-info"><%= word.kelimeText %></h1>
  						
  				</div>
  				
  			</div>
  			
  		</div>
  	</div>
  </div>

<%end%>
<hr>

<div class="divA ">
  <h1> <b>3.</b>Total number of Multiple Choices questions on the book = <b><%= @coktanSecmeliQuestionCount %></b> </h1>
  
</div>
<br>
<div class="divA ">
  <h1> Total number of solved Multiple Choices questions on the book = <b><%= @coktanSecmeliStAnswersCount %> </b></h1>
  
</div>
<br>
<div class="divA ">
 <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:<%= @percentageCoktanSecmeli %>%">
    <%= @percentageCoktanSecmeli %>% Solved
  </div>
</div>
</div>
<br>
<div class="divA ">
  <h1> <b>Student solved these questions:</b></h1>
  
</div>
<br>

 <% @coktanSecmeliQuAnswers.zip(@coktanSecmeliStAnswers, @coktanSecmeliQuFlags) do |word, ans,flag| %>
    <div id="movie-card-list">
  	<!-- Card 1: Blade Runner -->
  	<div class="movie-card1">
  		<div class="color-overlay">

  			<div class="movie-content">
  				<div class="movie-header">
  					<h4 class="movie-info"><%= word.soruText %></h4>

  				</div>
  				  <p class="movie-desc" style="font-weight: bold;">Choices: </p>
  				  <p class="movie-desc"> A-<%= word.aText %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B-<%= word.bText %></p>
  				  <p class="movie-desc"> C-<%= word.cText %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; D-<%= word.dText %></p>
            <p></p>
  					<p class="movie-desc" style="font-weight: bold;">Correct Answer:&nbsp;&nbsp;<%= word.dogruCevap %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;&nbsp; Students Answer:&nbsp;&nbsp;&nbsp;<%= ans.cevap %></p>
  					<p></p>
  				  <p class="movie-desc" style=" font-style: italic;">Student answer is "<%= flag %>"</p>
  			</div>
  			
  		</div>
  	</div>
  </div>
   
 <%end%>
 <hr>

<div class="divA ">
  <h1> <b>4.</b>Total number of True-false question on the book = <b><%= @tfQuestionCount %></b> </h1>
  
</div>
<br>
<div class="divA ">
  <h1> Total number of True-false solved questions on the book = <b><%= @tfStAnswersCount %> </b></h1>
  
</div>
<br>

<div class="divA ">
 <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:<%=@percentageTf%>%">
    <%= @percentageTf %>% Solved
  </div>
</div>
</div>
<br>
<div class="divA ">
 <h1> <b>Student solved these questions:</b></h1>
  
</div>
<br>

 <% @tfQuAnswers.zip(@tfStAnswers, @tfQuFlags) do |word, ans,flag| %>
    <div id="movie-card-list">
  	<!-- Card 1: Blade Runner -->
  	<div class="movie-card1">
  		<div class="color-overlay">

  			<div class="movie-content">
  				<div class="movie-header">
  					<h4 class="movie-info"><%= word.soruText %></h4>

  				</div>
  				  <p class="movie-desc" >Answer: <b> <%=word.dogruCevap %></b> </p>
  				 
 
            <p></p>
  					<p class="movie-desc" style="font-weight: bold;">Students Answer:&nbsp;&nbsp;&nbsp;<b><%= ans.cevap %></b></p>
  					<p></p>
  				  <p class="movie-desc" style=" font-style: italic;">Student answer is "<%= flag %>"</p>
  			</div>
  			
  		</div>
  	</div>
  </div>
   
 <%end%>

  
</body>
</html>