<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

</head>

<style class="cp-pen-styles">@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
  .fr{
      background-size: contain;
      background-repeat: no-repeat;
      width: 75%;
      max-width: 650px;
     
      display: block;
      margin: 1vh auto;
      border-radius: 8px;
      font-size: 15px;
  }
body {
  
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  color: #cfd6e1;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  -webkit-transition: .4s;
  transition: .4s;
}

a {
  text-decoration: none;
}

.movie-card {
  background-size: contain;
 
  width: 75%;
  max-width: 650px;
  height: 350px;
  display: block;
  margin: 1vh auto;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}



.color-overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(42, 159, 255, 0.2)), color-stop(60%, #212120), to(#212120));
  background: linear-gradient(to right, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
  background-blend-mode: multiply;
}

h1, h2, h3 {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 300;
}

.movie-content {
  width: 50%;
  display: block;
  position: relative;
  float: right;
  padding-right: 1em;
}
.movie-content .movie-title {
  color: #ffffff;
  margin-bottom: .25em;
  opacity: .75;
}
.movie-content .movie-info {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8em;
  color: #2a9fff;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  opacity: .5;
}
.movie-content .movie-header {
  margin-bottom: 1em;
}
.movie-content .movie-desc {
  font-weight: 300;
  opacity: .84;
  margin-bottom: 1em;
}

.btn {
  padding: .4em .4em;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.btn::before {
  font-family: 'Material Icons';
  content: '\e053';
  vertical-align: left;
  font-size: .5em;
  padding-right: .8em;
}

.btn-outline:hover {
  border-color: #2a9fff;
  color: #2a9fff;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
          box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
}

.movie-share {
  padding: 1em;
  display: inline-block;
  width: 15%;
}

.movie-share__icon i {
  font-size: 1.2em;
  margin-left: .5em;
  color: #ffffff;
  mix-blend-mode: lighten;
  opacity: .4;
}

.movie-share__icon i:hover {
  opacity: 1;
  mix-blend-mode: lighten;
}

@media (max-width: 1000px) {
  .movie-content {
    width: 50%;
    max-width: 95%;
  }
}
@media (max-width: 800px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
  }
}
@media (max-width: 600px) {
  .movie-card, .movie-card:nth-child(2), .movie-card:nth-child(3) {
    background-position: 50% 0%;
    background-size: cover;
    height: 400px;
  }

  .color-overlay {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 159, 255, 0.2)), color-stop(60%, #212120), to(#212120));
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
  }

  .movie-content {
    margin-top: 4.2em;
    width: 90%;
  }

  .movie-share {
    display: block;
    width: 100%;
  }
}
</style>

<body>
<div class="nav-side-menu">
    <div class="brand"><%= @teacher.kullaniciAdi %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "Sign out",  action:"destroysession" %></div>
    
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/index/teacher/<%= @teacher.id %>">
                  <i class="fa fa-folder"></i> Index &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </a>
                </li>
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/messages/"><i class="fa fa-envelope "></i> Messages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                <li  data-toggle="collapse" data-target="#products" class="collapsed">
                  &nbsp;&nbsp;<i class="fa fa-child"></i> Classes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                </li>
                <ul class="sub-menu collapse" id="products">
                    
                    <li><a href="/teacher/<%= @teacher.id %>/classes/">Show Classes & Students&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a href="/teacher/<%= @teacher.id %>/classesbooks/">Assign Classes Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>

                </ul>

               <li>
                  <a href="/teacher/<%= @teacher.id %>/books/">
                  <i class="fa fa-book"></i> System Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </a>
                </li>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/multiplechoicesbooks/"><i class="fa fa-check-square"></i> Create Exams&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
                </li>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/wordsonbooks/"><i class="fa fa-language "></i> Add Words On Books &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
                </li>
                <li data-toggle="collapse" data-target="#notes" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/teachervideonotes/"><i class="fa fa-edit"></i> Create Notes On Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/teacher/<%= @teacher.id %>/istatisticclasses"><i class="fa fa-bar-chart"></i> Student Statistics&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="/index/teacher/<%= @teacher.id %>/aboutclique"><i class="fa fa-rocket "></i> ABOUT CLIQUE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>  
                 
            </ul>
     </div>
</div>
                
<div class="fr">
  <ul class="nav nav-tabs">
   <li ><a href="/teacher/<%= @teacher.id %>/multiplechoicesbooks/">Multiple Choices Questions</a></li>
    <li class="active"><a href="/teacher/<%= @teacher.id %>/truefalsebooks/">True False Questions</a></li>
    <li ><a href="/teacher/<%= @teacher.id %>/matchingbooks/">Matching Questions</a></li>
  </ul>
  <br>
 
</div>

  <% @tfbookall.each do |book| %>
  
    <div id="movie-card-list">
    	<!-- Card 1: Blade Runner -->
  <div class="movie-card" style="background-image: url(<%= book.kitapKapak %>);">
  		<div class="color-overlay">

  			<div class="movie-content">
  				<div class="movie-header">
  					<h1 class="movie-title"><%= book.kitapAdi %></h1>
  					<h4 class="movie-info"><%= book.kitapYazari %></h4>
  					
  				</div>
  				<p class="movie-desc"><%= book.kitapHtmlText %></p>
    				<a class="btn btn-outline" href="/teacher/<%= @teacher.id%>/createtfquestion/book/<%= book.id %>/">Add True False Questions</a> 
    				<br />
    				<a class="btn btn-outline" href="/teacher/<%= @teacher.id%>/showtfquestion/book/<%= book.id %>/">Show True False Questions</a> 
    				
                 
    			</div>
    		</div>
    	</div>
    </div>
  
  <%end%>
</div>

</body>
</html>
</html>